// Load fonts for just the homepage

/**
 * Subsetted fonts
 */
body {
	@font-face {
		font-family: 'Lexend Deca';
		src:
			url('/fonts/subset/lexend-deca-v21-latin-900-webfont.woff2') format('woff2'),
			url('/fonts/subset/lexend-deca-v21-latin-900-webfont.woff') format('woff');
		font-weight: 900;
		font-style: normal;
	}

	@font-face {
		font-family: 'Luckiest Guy';
		src:
			url('/fonts/subset/luckiestguy-regular-webfont.woff2') format('woff2'),
			url('/fonts/subset/luckiestguy-regular-webfont.woff') format('woff');
		font-weight: 900;
		font-style: normal;
	}

	@font-face {
		font-family: McLaren;
		src:
			url('/fonts/subset/mclaren-regular-webfont.woff2') format('woff2'),
			url('/fonts/subset/mclaren-regular-webfont.woff') format('woff');
		font-weight: 900;
		font-style: normal;
	}

	@font-face {
		font-family: 'Nico Moji';
		src:
			url('/fonts/subset/nicomoji-regular-webfont.woff2') format('woff2'),
			url('/fonts/subset/nicomoji-regular-webfont.woff') format('woff');
		font-weight: 900;
		font-style: normal;
	}

	@font-face {
		font-family: Notable;
		src:
			url('/fonts/subset/notable-regular-webfont.woff2') format('woff2'),
			url('/fonts/subset/notable-regular-webfont.woff') format('woff');
		font-weight: 400;
		font-style: normal;
	}
}

.list-title {
	@include heading-4;

	margin: 0;
}

.about-this-site p > span {
	display: block;
}

/**
 * Home header
 */
.home-header {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.home-header h1 {
	display: flex;
	flex-direction: column;
	margin: 0;
	font-family: var(--sans-serif);
	line-height: 1;
}

.home-header h1 span:first-of-type {
	@include heading-1;

	line-height: 1;
}

.home-header h1 span:last-of-type {
	@include body-3;

	line-height: 1;

	@include bp-min(small) {
		@include body-2;

		line-height: 1;
	}
}

.home-header p {
	@include body-3;

	margin: 0;
	line-height: 1;

	@include bp-min(small) {
		@include body-2;

		line-height: 1;
	}
}

.home-header a {
	color: inherit;
}

.home-header a:hover,
.home-header a:focus {
	color: var(--expressive-color);
}

/**
 * About this site
 */
.about-this-site h2 {
	@include heading-3;

	margin: 0 0 0.2em;
}

.about-this-site p {
	@include body-4;

	@include bp-min(450) {
		@include body-2;
	}

	@include bp-min(small) {
		@include body-1;
	}

	// text-align: end;
}

.about-this-site p > span:nth-of-type(1) span {
	background: linear-gradient(180deg, #ff4d4d 0%, #fa3 100%);
	background-clip: text;
	font-family: 'Lexend Deca', sans-serif;
	font-weight: 900;
	-webkit-text-fill-color: transparent;
}

.about-this-site p > span:nth-of-type(2) span {
	background: linear-gradient(180deg, #fa3 0%, #fe6 100%);
	background-clip: text;
	font-family: McLaren, sans-serif;
	font-weight: 900;
	-webkit-text-fill-color: transparent;
}

.about-this-site p > span:nth-of-type(3) span {
	background: linear-gradient(180deg, #fe6 0%, #7d7 100%);
	background-clip: text;
	font-family: 'Luckiest Guy', sans-serif;
	font-weight: 900;
	-webkit-text-fill-color: transparent;
}

.about-this-site p > span:nth-of-type(4) span {
	background: linear-gradient(180deg, #7d7 0%, #66b2ff 100%);
	background-clip: text;
	font-family: 'Nico Moji', sans-serif;
	font-weight: 900;
	-webkit-text-fill-color: transparent;
}

.about-this-site p > span:nth-of-type(5) span {
	background: linear-gradient(180deg, #66b2ff 0%, #7a5cfa 100%);
	background-clip: text;
	font-family: Notable, sans-serif;
	font-weight: 400;
	-webkit-text-fill-color: transparent;
}

@keyframes scroll-by {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(-75%);
	}
}

/**
 * Details scroller
 */
.details-scroller {
	overflow: hidden;
	max-width: 100vw;

	@include bp-min(medium) {
		max-width: calc(100vw - var(--name-slider-height));
	}
}

.details-scroller > div {
	// animation: scroll-by linear forwards;
	animation: scroll-by auto ease-in-out;
	animation-timeline: --page-scroll;
}

.details-scroller ul {
	display: flex;
	gap: 1.5em;
	list-style: none;
}

.details-scroller li {
	flex-grow: 1;
	flex-shrink: 0;
}

/**
 * Fresk
 */
.fresk {
	// Create the gradient.
	background: linear-gradient(90deg, #5e43ff 0%, #ff7535 100%);

	// Clip the text (so the gradient is visible).
	background-clip: text;

	// Set color to transparent so the gradient shows.
	-webkit-text-fill-color: transparent;
}

.fresk:hover,
.fresk:focus {
	background: linear-gradient(90deg, #ff7535 0%, #5e43ff 100%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
