@import '../../styles/base.scss';

/**
 * Home header
 */
.home-header {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}
.home-header h1 {
	font-family: var(--sans-serif);
	display: flex;
	flex-direction: column;
	line-height: 1;
	margin: 0;
}
.home-header h1 span:first-of-type {
	@include heading-1;
	line-height: 1;
}
.home-header h1 span:last-of-type {
	@include body-2;
	line-height: 1;
}
.home-header p {
	@include body-2;
	margin: 0;
	line-height: 1;
}

/**
 * About this site
 */
.about-this-site h2 {
	@include heading-3;
	margin: 0 0 0.2em;
	// text-align: end;
}
.about-this-site p {
	@include body-4;

	@include bp-min(450) {
		@include body-2;
	}
	@include bp-min(small) {
		@include body-1;
	}

	// text-align: end;
}
.about-this-site p > span {
	display: block;
}

.about-this-site p > span:nth-of-type(1) span {
	font-family: 'Lexend Deca';
	font-weight: 900;
}
.about-this-site p > span:nth-of-type(2) span {
	font-family: 'McLaren';
	font-weight: 900;
}
.about-this-site p > span:nth-of-type(3) span {
	font-family: 'Luckiest Guy';
	font-weight: 900;
}
.about-this-site p > span:nth-of-type(4) span {
	font-family: 'Nico Moji';
	font-weight: 900;
}
// .about-this-site p > span:nth-of-type(5) span {
// 	font-family: 'Crimson-Text';
// 	font-weight: 700;
// }
.about-this-site p > span:nth-of-type(5) span {
	font-family: 'Notable';
	font-weight: 400;
}

@keyframes scroll-by {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-75%);
	}
}

/**
 * Details scroller
 */
.details-scroller {
	overflow: hidden;
	max-width: 100vw;

	@include bp-min(medium) {
		max-width: calc(100vw - var(--name-slider-height));
	}
}
.details-scroller > div {
	// animation: scroll-by linear forwards;
	animation: scroll-by auto linear;
	animation-timeline: --page-scroll;
}
.details-scroller ul {
	display: flex;
	gap: 1.5em;
	// margin: 0;
	// padding: 0;
	list-style: none;
}

.details-scroller li {
	flex-grow: 1;
	flex-shrink: 0;
}
