@import '../../../../styles/base.scss';

.space-toggles {
	--level: var(--level--default);

	// prettier-ignore
	--level--default: var(--level,);
	// prettier-ignore
	--level--success: var(--level,);
	// prettier-ignore
	--level--warning: var(--level,);
	// prettier-ignore
	--level--error:   var(--level,);

	background-color: var(--level--default, lavender) var(--level--success, palegreen)
		var(--level--warning, khaki) var(--level--error, lightpink);
}

.space-toggles__toggle:checked ~ .space-toggles {
	--level: var(--level--success);
}
.space-toggles {
	--level: var(--level--default);
}
.space-toggles:hover {
	--level: var(--level--warning);
}

.preview-box {
	width: 5rem;
	height: 5rem;
	border: 1px solid black;
}
