:root {
	--highlight-color: hsl(161deg 41% 80% / 60%);
	--expressive-color: #ff7535;
	--expressive-color-dark: #ff5e00;
	--white: #fff;
}

// •	hsla(161, 41%, 80%, 0.6) (Your color)
// •	hsla(41, 41%, 60%, 1) (Muted gold)
// •	hsla(281, 41%, 60%, 1) (Soft purple)
