/* stylelint-disable selector-max-universal */
@import '../base';

:root {
	--block-padding: #{gap(5)};
	--border-radius: #{$border-radius-small-screens};

	@include bp-min(small) {
		--block-padding: #{gap(10)};
		--border-radius: #{$border-radius-large-screens};
	}

	@include bp-min(medium) {
		--block-padding: #{gap(15)};
	}
}

:global(*),
:global(*::before),
:global(*::after) {
	box-sizing: border-box;
}

:global(html) {
	box-sizing: border-box;
	quotes: '“' '”' '‘' '’';
	scroll-behavior: smooth;
}

:global(body) {
	margin: 0;
	padding: 0;
}

:global(body.menu-is-open) {
	overflow: hidden;
	width: 100%;
	max-height: 100vh;
}

/*
 * Links
 */
:global(a) {
	color: var(--expressive-color);
	text-decoration: none;

	// text-decoration: underline;
	// text-decoration-skip-ink: auto;
}

:global(nav a) {
	color: inherit;
}

:global(a:hover),
:global(a:focus) {
	text-decoration: none;
}

/*
 * Media
 */
:global(figure) {
	margin: 0;
}

:global(img),
:global(video),
:global(canvas),
:global(audio),
:global(iframe),
:global(embed),
:global(object) {
	display: block;
	vertical-align: middle;
}

:global(img),
:global(object),
:global(video) {
	max-width: 100%;
	height: auto;
}

/**
  * Screen reader only text
  */
:global(.sr-only) {
	@include sr-only;
}
