@use '../base' as *;

:root {
	--system-font: -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, helvetica, arial,
		sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	--serif: 'Crimson-Text', serif;
	--sans-serif: 'Lato', var(--system-font);

	// Weights
	--font-weight-bold: bold;
	--font-weight-normal: normal;

	// Line heights
	--line-height-label: 1;
	--line-height-title: 1.3;
	--line-height-read: 1.7;

	// Font sizes
	--body-1: clamp(#{rem(32)}, 4vw, #{rem(36)});
	--body-2: clamp(#{rem(18)}, 4vw, #{rem(24)});
	--body-3: clamp(#{rem(16)}, 4vw, #{rem(18)});
	--body-4: clamp(#{rem(14)}, 4vw, #{rem(16)});
	--body-5: #{rem(14)};
	--heading-1: clamp(#{rem(100)}, 4vw, #{rem(200)});
	--heading-2: clamp(#{rem(30)}, 4vw, #{rem(64)});
	--heading-3: clamp(#{rem(22)}, 4vw, #{rem(36)});
	--heading-4: clamp(#{rem(18)}, 4vw, #{rem(24)});
	--heading-5: var(--font-size-base);
	--heading-6: var(--font-size-base);
}

:global(html) {
	@include font-smoothing(true);

	font-family: var(--sans-serif);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:global(body) {
	// @include regular-font;
	@include body-3;
}

:global(h1) {
	@include heading-2;
}

:global(h2) {
	@include heading-3;
}

:global(h3) {
	@include heading-4;
}

:global(p) {
	margin-top: 0;
}

:global(em),
:global(strong) {
	font-weight: var(--font-weight-bold);
	font-style: normal;
}
