@layer base {
	.experiment-body {
		--snow: #fcf8f7;
		--majorelle-blue: #5e43ff;
		--orange-crayola: #ff7535;
		--xiketic: #120b11;
		--raisin-black: #302a2f;
		--sonic-silver: #736f72;
		--medium-blue: #4430b8;
		--white: white;
		--mint-green: #b9ffb7;
		--pale-green: #76a375;
		--sienna: #b85426;
		--accessible-components--dark-grey: #9b9b9b;
		--label-color: var(--raisin-black);
	}
}
